html, body {
    font-size: 100%;
	height: 100%;
    margin: auto;
	padding: 0%;
}

body {
	min-height: 1rem;
    margin: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.logo {
    width: 40%;
    height: auto;
}

.slogan{
    margin: auto;
    color: #000;
    font-size: 3vmax;
}

nav *, footer * {
    display: flex;
    flex-direction: row;

    font-size: 1.6vmax;
    color: #FFF;
}

.promo {
    width: 100%;
    height: auto;

    padding: 0.25rem 0 0 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

section {
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

section h2 {
    padding-bottom: 1.25rem;

    border-bottom: 0.1rem solid #cecece;
    font-size: 2.1vmax;
}

.formulaire, .tableau {
    width: 100%;
}

.colonne_droite {
    padding: 0.5rem;
    width: 40%;
    height: auto;

    background-color: #cecece;
    Font-size: 1.4vmax;
}

a:hover {
    color: #ffd700;
}
a:active {
    color: #00FFFF;
}

@media screen  and (max-width: 768px) {
    .colonne_droite {
        display: none;
    }
    nav *, footer * {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section{
        font-size: 10px;
    }
}